.row
  .col-md-1
  .col-md-5
    %h3
      Editar información general
    = form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f|
      = devise_error_messages!
      .form-group
        = f.label 'Correo'
        %br/
        = f.email_field :email, autofocus: true, class: 'form-control'
      - if devise_mapping.confirmable? && resource.pending_reconfirmation?
        %div
          Currently waiting confirmation for: #{resource.unconfirmed_email}
      .form-group
        = f.label 'Contraseña nueva'
        %i (dejar en blanco si no deseas cambiarla)
        %br/
        = f.password_field :password, autocomplete: "off", class: 'form-control'
      .form-group
        = f.label 'Confirmar contraseña nueva'
        %br/
        = f.password_field :password_confirmation, autocomplete: "off", class: 'form-control'
      .form-group
        = f.label 'Contraseña actual'
        %i (necesitamos tu contraseña para confirmar estos cambios)
        %br/
        = f.password_field :current_password, autocomplete: "off", class: 'form-control'

      .form-group
        = f.submit "Actualizar", class: 'btn btn-success'

  .col-md-5
    %h3 Editar información personal
    = form_for(current_user) do |f|
      .form-group
        = f.label 'Nombre'
        = f.text_field :name, class: 'form-control', placeholder: "Ingresa tu nombre", autofocus: true
      .form-group
        = f.label 'Descripción'
        = f.text_area :description, class: 'form-control', placeholder: "Descríbete", autofocus: true
      - if current_user.avatar?
        .form_group
          %p Foto de perfil actual
          = image_tag( current_user.avatar.profile.url )
      .form_group
        = f.label 'Foto de perfil'
        = f.file_field :avatar
        = f.hidden_field :avatar_cache
      .form_group
        = f.label 'Imagen horizontal para perfil'
        = f.file_field :cover
        = f.hidden_field :cover_cache
      .form-group
        = f.submit "Actualizar", class: 'btn btn-success'

.row
  .col-md-1
  .col-md-10
    .pull-left
      = button_to "Cancelar mi cuenta", registration_path(resource_name), data: { confirm: "Estás seguro?" }, method: :delete, class: 'btn btn-danger'
    .pull-right
      = link_to "Volver", user_path(current_user), class: 'btn btn-warning'

.row
  %br