.row
	.col-md-1
	.col-md-10.cover_section
		.cover_photo
			= image_tag(@user.cover)
			.profile_photo
				= image_tag(@user.avatar.profile)
			.user_name
				= @user.name

.row
	.col-md-1
	.col-md-10.user-mid-section
		.pull-right
			-if current_user && current_user == @user
				= link_to 'Editar perfil', edit_registration_path(current_user),class:'btn btn-warning edit_profile'
			.followers.col
				.following_count.col.text-center
					.follow_count_title
						SIGUIENDO
					= @user.following.count
				.followers_count.col.text-center
					.follow_count_title
						SEGUIDORES
					= @user.followers.count
			- if current_user && current_user != @user
				.follow_me.col
					- unless current_user.following?(@user)
						%button.not-following.follow_button{id:"follow-#{@user.id}"}
							Seguir
					- else
						%button.following.follow_button{id:"follow-#{@user.id}"}
							Dejar de seguir
	.col-md-1

.row.margin-top-20
	.col-md-1
	.col-md-10
		%h5
			Descripción
		.description
			= @user.description	

.row.margin-top-10
	.col-md-1
	.col-md-10
		- if @user.professional?
			%h5
				Proyectos
		- else
			%h5
				Favoritos
		#featured
			- if current_user && current_user == @user && current_user.professional?
				.row
					= link_to 'Nuevo proyecto', new_project_path, class: 'btn btn-success'
			- @user.projects.each do |project|
				.featured
					.featured_image
						= image_tag(project.image)
						- if current_user && current_user == @user
							.project_edit
								%a{href:edit_project_path(project)}
									%i.fa.fa-edit{"aria-hidden":"true"}
					.featured_content
						.featured_avatar.col
							= image_tag(project.user.avatar.thumb)
						.featured_nonavatar.col
							.featured_text.col
								.featured_title
									= project.title
								.featured_description
									= truncate(project.description, :length => 60, :separator => ' ')
							- if current_user
								.featured_social
									.col
										%a{href:'javascript:;'}
											- unless current_user.likes.where(project_id: project.id).first.nil?
												%i.fa.fa-heart.heart_clicked{"aria-hidden":"true",id:project.id}
											- else
												%i.fa.fa-heart{"aria-hidden":"true",id:project.id}
										%span{id:"likes-#{project.id}"}
											= project.likes.count
									.col
										%a{href:'javascript:;'}
											%i.fa.fa-star{"aria-hidden":"true"}
									.col
										%a{href:'javascript:;'}
											%i.fa.fa-share{"aria-hidden":"true"}
							- else
								.featured_social
									.col
										%i.fa.fa-heart{"aria-hidden":"true",id:project.id}
										%span{id:"likes-#{project.id}"}
											= project.likes.count
									.col
										%i.fa.fa-star{"aria-hidden":"true"}
									.col
										%i.fa.fa-share{"aria-hidden":"true"}