.row
	.col-md-1
	.col-md-10
		.search
			= text_field_tag :search, params[:search], placeholder: "busca profesionales", size: 150, class: 'search-field'
	.col-md-1

.row
	.col-md-1
	.col-md-10
		- @users.each do |user|
			%a{href: user_path(user), class:'professional_link'}
				.professional.clearfix
					.professional_image.pull-left
						= image_tag(user.avatar.profile)
					.professional_text.pull-left
						.professional_name.col
							= user.name
						.follow_count_title
							= user.followers.count
							SEGUIDORES
						.professional_description
							= user.description
	.col-md-1
