= form_for featured do |f|
	.form-group
		= f.label 'Título'
		= f.text_field :title, class: 'form-control', placeholder: 'Ingresa el título'
	.form-group
		= f.label 'Descripción'
		= f.text_field :description, class: 'form-control', placeholder: 'Ingresa la descripción'
	.form_group
		= f.label 'Imagen'
		= f.file_field :image
		= f.hidden_field :image_cache
	.form_group
		= f.label 'Enlace'
		= f.text_field :link, class: 'form-control', placeholder: 'Ingresa el enlace al producto o proyecto'
	.form-group
		= f.submit "Guardar", class: 'btn btn-success'
		= link_to "Cancelar", featureds_path, class: 'btn btn-warning'
		=	link_to "Borrar", featured, method: :delete, class: 'btn btn-danger', data: { confirm: 'Seguro que deseas borrar?' }

