!!! 5
%html
	%head
		%title
			decowasi | Diseño y Renovación de Hogares
		= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => false
		= javascript_include_tag 'application', 'data-turbolinks-track' => false
		= favicon_link_tag 'favicon.ico'
		%meta{:name => "viewport", :content => "width=device-width, initial-scale=1.0"}
		= display_meta_tags :site => 'decowasi | Diseño y Renovación de Hogares' 
		= csrf_meta_tags
	%body{ data: {no_turbolink: true} }
		.container-wide
			#header
				#main-menu
					.logo
						%a{href: root_path}
							= image_tag("decowasi.png")
					.menu-bar
						%ul
							%li
								%a{href: root_path, class: 'active'} INICIO
							%li
								%a{href: '#'} IDEAS
							%li
								%a{href: '#'} PROFESIONALES
							%li
								%a{href: '#'} PRODUCTOS
					.user-menu
						- unless current_user 
							%li
								%a{href: new_user_registration_path} regístrate
							%li
								%a{href: new_user_session_path} ingresa
						- else
							Bienvenido
							= link_to current_user.name, current_user, class: 'menu_link'
							= link_to destroy_user_session_path, method: :delete, class: 'btn btn-primary btn-sm exit_button' do
								salir

			- if flash[:notice]
				.alert.alert-success
					%button{type:"button",class:"close",data:{dismiss:"alert"}}
						&times;
					= flash[:notice]
			- elsif flash[:error]
				.alert.alert-danger
					%button{type:"button",class:"close",data:{dismiss:"alert"}}
						&times;
					= flash[:error]
			- elsif flash[:alert]
				.alert.alert-warning
					%button{type:"button",class:"close",data:{dismiss:"alert"}}
						&times;
					= flash[:warning]

		.container_home.margin-top-100
			= yield

		.row.footer
			.col-md-4.social
				%a{href:'#', target: "_blank"}
					%i{class:"fa fa-facebook-official","aria-hidden":"true"}
				%a{href:'#', target: "_blank"}
					%i{class:"fa fa-google-plus-square","aria-hidden":"true"}
				%a{href:'#'}
					%i{class:"fa fa-twitter-square","aria-hidden":"true"}
				%a{href:'#', target: "_blank"}
					%i{class:"fa fa-pinterest-square","aria-hidden":"true"}
			.col-md-4.about
				%h3
					quiénes somos
				%p
					Somos una plataforma que ayuda a las personas interesadas en diseñar o remodelar su hogar a buscar ideas, descubrir su estilo y conectarse con la red de profesionales más grande del país.
			.col-md-4.contact
				%h3
					contacto
				%a{href: "mailto:ventas@decowasi.com"}
					Ventas - ventas@decowasi.com
				%br
				%a{href: "mailto:soporte@decowasi.com"}
					Soporte - soporte@decowasi.com


